
.cover__link{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 594px;
  z-index: 1;
}

.cover__link::before{
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom:0;
  left:0;
  background-color: #2A2C2F;
  opacity: .3;
  transition: .5s ease-in-out;
}
.cover__link:hover:before{
  opacity: .8;
}

@media screen and (max-width: 1024px){
  .cover__link{
    min-height: 562px;
  }
}

@media screen and (max-width: 768px){
  .cover__link{
    min-height: 500px;
  }
}

@media screen and (max-width: 510px){
  .cover__link{
    min-height: 272px;
  }
}

@media screen and (max-width: 320px){
  .cover__link{
    min-height: 216px;
  }
}
