.photo-grid{
  width: 92.5vw;
  display: grid;
  gap:16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  transition: .5s ease-in-out;
  margin-bottom: 92px;
}


@media screen and (max-width: 1024px){
  .photo-grid{
    gap:14px;
  }
}

@media screen and (max-width: 768px){
  .photo-grid{
    gap:16px;
    margin-bottom: 88px;
  }
}


@media screen and (max-width: 510px){
  .photo-grid{
    gap:12px;
    margin-bottom: 64px;
  }
}
