.footer__link{
  font-size: 16px;
  line-height: 1.12;
  text-decoration: none;
  transition: .2s ease-in-out;
}

@media screen and (max-width: 496px){
  .footer__link{
    font-size: 24px;
    line-height: 1;
  }
}

.footer__link:hover{
  opacity:.8;
}


