.video__duration{
  font-weight: 500;
  line-height: 13px;
  font-size: 12px;
  letter-spacing: 0.3em;
  margin-bottom: 12px;
  z-index: 1;
}
@media screen and (max-width: 768px){
  .video__duration{
    margin-bottom: 8px;
  }
}
