.footer__copyright{
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  margin:0;
}

@media screen and (max-width: 567px){
  .footer__copyright{
    margin-top:48px;
    line-height: 1;
  }
}

