.intro{
  max-width: 984px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px){
 .intro{
 }
}

@media screen and (max-width: 768px){
  .intro{
    margin-bottom: 88px;
  }
 }

 @media screen and (max-width: 320px){
  .intro{
    max-height: none;
    margin-bottom: 64px;
  }
 }
