.cover__title{
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  z-index: 1;
  max-width: 1095px;
  margin:274px 0 134px 0;
}
@media screen and (max-width:1024px){
  .cover__title{
    margin-top:211px;
    margin-bottom:70px;
  }
}
@media screen and (max-width:768px){
  .cover__title{
    margin-top:165px;
    margin-bottom:40px;
  }
}
@media screen and (max-width:510px){
  .cover__title{
    margin-top:27%;
    font-size: 32px;
    line-height: 1.09;
    margin-bottom:23px;
  }
}

@media screen and (max-width:340px){
  .cover__title{
    margin-top:20%;
    margin-bottom:7px;
  }
}
