.footer{
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  width:calc(100% - (48px * 2));
  margin: 0 auto 0 auto;
  padding-bottom:24px;
}
@media screen and (max-width: 768px){
  .footer{
    width:calc(100% - (24px * 2));
  }
}

@media screen and (max-width: 567px){
  .footer{
    flex-direction: column;
    align-items: start;
    width:calc(100% - (16px * 2));
  }
}


